<!--This file will be rendered by our index route
    Now we will add some markup into this file
-->

<%- include('header') %>
<div class = "container">
    <h1>
        <%= title %>
    </h1>

    <a href = "/profile">Profile</a>
    
</div>

<br>

<a href = "transfer">
    Transfer
</a>

<%- include('footer') %>